<p id="notice"><%= notice %></p>

<h1>Listing Drones</h1>



<br>



    <!-- Page Content -->
    <div class="container">



        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
        </div>

        <% @drones.each do |drone| %>
        <div class="col-lg-4 col-sm-6 text-center">
          <% if drone.tv_image%>
            <%= link_to ( image_tag("#{drone.tv_image[8]}")), drone_path(drone) %>
          <% else %>
            <%= link_to ( image_tag("no_image.gif")), drone_path(drone) %>
          <%end%>
        <h3><%=truncate(drone.title, :length => 25)%></h3>

        </div>
        <% end %>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row"
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
